@import "../fonts/fontface.less";

@font-size: 16;
@em: @font-size*1em;
@rem: @font-size*1rem;

// Ant Design overwrite

.ant-alert {
    padding: (@font-size * 0.78125) / @rem (@font-size * 0.875) / @rem (@font-size * 0.78125) / @rem
        ((@font-size * 0.875) * 2 + @font-size * 1.25) / @rem;

    .ant-alert-icon {
        top: (@font-size * 0.875) / @rem;
        left: (@font-size * 0.875) / @rem;
        font-size: @font-size * 1.25 / @rem;
    }
}

.ant-form-vertical .ant-form-item-label {
    line-height: 1;

    & > * {
        line-height: 1;
    }

    & label {
        text-transform: uppercase;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.ant-checkbox-inner {
    border-radius: 2px;
}

.ant-layout-header {
    line-height: unset;
}

.ant-menu {
    &-item {
        display: flex;
        align-items: center;
    }
}

.ant-result {
    padding: 0;
}

.ant-message {
    .ant-message-notice {
        margin-top: 0.75rem;
        .ant-message-notice-content {
            border-radius: 4px;
            padding: 0.625rem 0.75rem;
            box-shadow: 0 0.75rem 1.5rem 0 rgba(162, 195, 216, 0.08);

            .ant-message-custom-content {
                display: flex;
                .anticon {
                    font-size: 1.25rem;
                }
            }
        }
    }
}
